<ion-view title="{{title}}" >
  <ion-content class="has-header">

    <div name="divlogin" class="list" style="{{display_login}}">

      <div style="text-align:center">          
        <img style="width:100%; display:block; margin:0 auto" id="myImage" src="img/login.png" />
      </div>
      
      <div style="margin-top:10px"> 
			  <label class="item item-input">
          <span class="input-label">用户名：</span>
          <input name="user.username" ng-model="user.username" type="text" placeholder="用户名" required>
        </label>
        
        <label class="item item-input">
          <span class="input-label">密码：</span>
          <input name="user.password" ng-model="user.password" type="password" placeholder="密码" required>
        </label>
      </div>    
    
      <div class="button-bar" style='text-align:center; margin-top:10px'>
        <button class="button button-balanced" ng-click="toreg()">新用户注册</button>
        <button class="button button-positive" ng-click="login()"> 登&nbsp&nbsp&nbsp&nbsp录 </button>
        <button class="button button-outline button-energized" ng-click="togetpass()">忘记密码？</button>
      </div>      
    </div>

    <div name="divreg" class="list" style="{{display_reg}}">
      
        <ion-item >
            <!-- <h2>基本信息：</h2> -->
            <label class="item item-input">
              <span class="input-label">用户名：</span>
              <input name="user.username" ng-model="user.username" type="text" placeholder="用户名" required>
            </label>
            <label class="item item-input">
              <span class="input-label">密码：</span>
              <input name="user.password" ng-model="user.password" type="password" placeholder="密码" required>
            </label>
            <label class="item item-input">
              <span class="input-label">确认密码：</span>
              <input name="user.passconfirm" ng-model="user.passconfirm" type="password" placeholder="确认密码" required>
            </label>
            <!-- <label class="item item-radio">
              <span class="input-label">性别：</span>
              <input name="sex" ng-model="user.sex" type="radio" value="6" >
              <i>男</i>
              <input name="sex" ng-model="user.sex" type="radio" value="7" checked="checked">
              <i>女</i>
            </label> -->
            <!-- <label class="item item-radio">
              <span class="input-label">性别：</span>
              <ion-radio name="user.sex" ng-model="user.sex" ng-value="6">男</ion-radio>
              <ion-radio name="user.sex" ng-model="user.sex" ng-value="7">女</ion-radio>
            </label>  -->
            <label class="item item-input">
              <span class="input-label">电子邮箱：</span>
              <input name="user.email" ng-model="user.email"  type="email" placeholder="邮箱" required>
            </label>
            <label class="item item-input">
              <span class="input-label">联系方式：</span>
              <input name="user.mobile" ng-model="user.mobile" type="tel" placeholder="联系方式" required>
            </label>
            
        </ion-item>

        <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-balanced" ng-click="tologin()"> 已有帐号 </button>
          <button class="button button-positive" ng-click="reg()"> 新用户注册 </button>
        </div>
    </div>

    <div name="divgetpass" class="list" style="{{display_getpass}}">
      
        <ion-item >
            <!-- <h2>基本信息：</h2> -->
            <label class="item item-input">
              <span class="input-label">用户名：</span>
              <input name="user.username" ng-model="user.username" type="text" placeholder="用户名" required>
            </label>

            <label class="item item-input">
              <span class="input-label">电子邮箱：</span>
              <input name="user.email" ng-model="user.email"  type="email" placeholder="邮箱" required>
            </label>
            <label class="item item-input">
              <span class="input-label">联系方式：</span>
              <input name="user.mobile" ng-model="user.mobile" type="tel" placeholder="联系方式">
            </label>
            
        </ion-item>
        <ion-item >
          <h4>验证码将发放到您登记的邮箱和手机</h4>
        </ion-item>
        <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-positive" ng-click="getpass()"> 获取验证码 </button>
          <button class="button button-balanced" ng-click="tologin()"> 已有密码 </button>
        </div>
    </div>

    <div name="divchgpass" class="list" style="{{display_chgpass}}">
      
        <ion-item >
            <!-- <h2>基本信息：</h2> -->
            <label class="item item-input">
              <span class="input-label">用户名：</span>
              <input name="user.username" ng-model="user.username" type="text" placeholder="用户名" required>
            </label>
            <label class="item item-input">
              <span class="input-label">验证码：</span>
              <input name="user.code" ng-model="user.code" type="text" placeholder="验证码" required>
            </label>
            <label class="item item-input">
              <span class="input-label">密码：</span>
              <input name="user.password" ng-model="user.password" type="password" placeholder="密码" required>
            </label>
            <label class="item item-input">
              <span class="input-label">确认密码：</span>
              <input name="user.passconfirm" ng-model="user.passconfirm" type="password" placeholder="确认密码" required>
            </label>
            
        </ion-item>
        
        <ion-item >
          <h4>提供系统下发的验证码，设置新密码</h4>
        </ion-item>
        <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-balanced" ng-click="chgpassBycode()"> 提&nbsp&nbsp交 </button>
        </div>
    </div>
  </ion-content>
</ion-view>
