<ion-view title="个人中心">
  <ion-content class="has-header padding">
    <div class="list">

	  <a class="item item-icon-left item-icon-right" href="#/app/account/baseinfo">
	    <i class="icon ion-ios7-person calm"></i>
	    基本信息
	    <i class="icon ion-ios7-arrow-right"></i>
	  </a>

	  <!-- <a class="item item-icon-left" href="#/app/account/mymsg">
	    <i class="icon ion-email energized"></i>
	    我的消息
	    <span class="badge badge-assertive">4</span>
	  </a>

	  <a class="item item-icon-left " href="#/app/account/mycoin">
	    <i class="icon ion-cash royal"></i>
	    我的前途币
	    <span class="badge badge-assertive">100</span>
	  </a>

	  <a class="item item-icon-left" href="#/app/account/favjobs">
	    <i class="icon ion-star balanced"></i>
	    职位收藏
	    <span class="item-note">点击查看</span>
	  </a>

	 <a class="item item-icon-left item-icon-right" href="#/app/account/employreg">
	    <i class="icon ion-clipboard positive"></i>
	    就业登记
	    <i class="icon ion-ios7-arrow-right"></i>
	 </a>	  

	  <a class="item item-icon-left item-icon-right" href="#/app/account/chgpass">
	    <i class="icon ion-compose calm"></i>
	    密码修改
	    <i class="icon ion-ios7-arrow-right"></i>
	  </a>

	  <button class="button button-block button-assertive" ng-click="Logout()"> 退出登录 </button> -->
	</div>
  </ion-content>
</ion-view>

<!--



<script type="text/ng-template" id="templates/account-employreg.html">
<ion-view title="就业登记">
	<ion-content class="has-header padding text-align:center">

	  <div name="divemployReg" class="list" >

            <label class="item item-input">
              <span class="input-label">性别：</span>
              <select>
				  <option selected>女</option>
				  <option>男</option>
			  </select>
            </label> 

			<label class="item item-input item-select">
				<div class="input-label">毕业去向：</div>
				<select>
				  <option>签约:民营企业</option>
				  <option>签约:外资企业</option>
				  <option>签约:国有企业</option>
				  <option>签约:国家机关</option>
				  <option>签约:事业单位</option>
				  <option>签约:其他企业</option>
				  <option>签约:部队</option>
				  <option selected>灵活就业</option>
				  <option>国内升学</option>
				  <option>出国留学</option>
				  <option>暂不就业</option>
				  <option>待就业</option>
				</select>
			</label>

            <label class="item item-input">
              <span class="input-label">用人单位：</span>
              <input name="user.sex" ng-model="user.sex" type="text"  required>
            </label>

            <label class="item item-input">
              <span class="input-label">所在地：</span>
              <input name="user.sex" ng-model="user.sex" type="text"  required>
            </label>
           
            <label class="item item-input">
              <span class="input-label">从事岗位：</span>
              <input name="user.sex" ng-model="user.sex" type="text"  required>
            </label>

			<label class="item item-input item-select">
				<div class="input-label">岗位与专业匹配度：</div>
				<select>
				  <option selected>100%</option>
				  <option>80%</option>
				  <option>60%</option>
				  <option>50%</option>
				  <option>30%</option>
				  <option>0</option>
				</select>
			</label>

			<div class="buttons" style='text-align:center; margin-top:10px'>
              <button class="button button-positive" ng-click="employReg()"> 提交登记 </button>
            </div>

	  </div>
		
	</ion-content>
</ion-view>
</script>


-->

