<ion-view title="首页">
  <ion-content class="has-header padding">
    <!-- <h1>Dash</h1> -->
    <div class="list ">
    	<a class="item item-icon-left item-icon-right" href="#/app/home/postsubs">
    		<i class="icon ion-ios7-search positive"></i>
    		职位订阅
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/newjobs">
    		<i class="icon ion-ios7-contact positive"></i>
    		最新招聘
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/jobfairs">
    		<i class="icon ion-cloud calm"></i>
    		全城招聘会
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/preaches">
    		<i class="icon ion-ios7-videocam positive"></i>
    		全城宣讲会
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

      <a class="item item-icon-left item-icon-right" href="#/app/home/study">
          <i class="icon ion-planet energized"></i>
          学习中心
          <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/home/venture">
          <i class="icon ion-star royal "></i>
          创业频道
          <i class="icon ion-ios7-arrow-right"></i>
      </a>
    
    </div>
  </ion-content>
</ion-view>

<script type="text/ng-template" id="templates/study.html">
<ion-view title="学习中心">
  <ion-content class="has-header padding">
  
    <div class="list " ng-repeat="news in newss">
        <a class="item item-icon-right" ng-if="news.pid==29" type="item-text-wrap" href="#/app/home/news/{{news.id}}">
            <h3>{{news.title}}</h3>
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="templates/venture.html">
<ion-view title="创业中心">
  <ion-content class="has-header padding">
  
    <div class="list " ng-repeat="news in newss">
        <a class="item item-icon-right" ng-if="news.pid==30" type="item-text-wrap" href="#/app/home/news/{{news.id}}">
            <h3>{{news.title}}</h3>
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
</script>