<ion-view title="首页">
  <ion-content class="has-header padding">
    <!-- <h1>Dash</h1> -->
    <div class="list ">
    	<a class="item item-icon-left item-icon-right" href="#/app/home/postsubs">
    		<i class="icon ion-ios7-search positive"></i>
    		职位订阅
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/newjobs">
    		<i class="icon ion-ios7-contact positive"></i>
    		最新招聘
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/jobfairs">
    		<i class="icon ion-cloud calm"></i>
    		全城招聘会
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

    	<a class="item item-icon-left item-icon-right" href="#/app/home/preaches">
    		<i class="icon ion-ios7-videocam positive"></i>
    		全城宣讲会
    		<i class="icon ion-ios7-arrow-right"></i>
    	</a>

      <a class="item item-icon-left item-icon-right" href="#/app/home/study">
          <i class="icon ion-planet energized"></i>
          学习中心
          <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/home/venture">
          <i class="icon ion-star royal "></i>
          创业频道
          <i class="icon ion-ios7-arrow-right"></i>
      </a>
    
    </div>
  </ion-content>
</ion-view>


<script type="text/ng-template" id="templates/jobdetail.html">
<ion-view title={{job.title}}>
  <ion-content class="has-header padding">
  
    <div class="list">
        <a class="item" type="item-text-wrap" >
            <h2 style='text-align:center; margin-top:10px'>{{job.title}}</h2>
        </a>
        
        <a class="item" type="item-text-wrap" >
            <h3>招聘类型：{{job.type}}</h3>
            <h3>薪资待遇：{{job.money}}</h3>
        </a>

        <a class="item" type="item-text-wrap" >
            <h3>公司：{{job.from}}</h3>
            <h3>创建时间：{{job.ctime*1000 |date : 'yyyy-MM-dd hh:mm:ss'}}</h3>
        </a>

        <a class="item" style="white-space: normal">招聘要求：<br />{{job.body}}</a>
       
       <!-- div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-energized" ng-click="jobFav()"> <i class="icon ion-thumbsup"></i>收藏 </button>
          <button class="button button-positive" ng-click="jobApply()"><i class="icon ion-chatbox"></i> 申请 </button>
       </div -->

       <div class="item tabs tabs-secondary tabs-icon-left" style='margin-top:10px'>
          <a class="tab-item" ng-click="jobFav()">
            <i class="icon ion-heart "></i>
            收藏
          </a>
          <a class="tab-item" ng-click="jobComment()">
            <i class="icon ion-edit"></i>
            评论
          </a>
          <a class="tab-item" ng-click="jobApply()">
            <i class="icon ion-paper-airplane"></i>
            申请
          </a>
          <a class="tab-item" ng-click="jobShare()">
            <i class="icon ion-share"></i>
            分享
          </a>
        </div>
      
    </div>
  </ion-content>
</ion-view>
</script>


<script type="text/ng-template" id="templates/postsubs.html">
<ion-view title="职位订阅">
  <ion-content class="has-header padding">
  
    <div class="list ">
        <label class="item item-input item-select">
          <span class="input-label">行业选择：</span>
          <select name="hy" id="hy"  ng-model="searchobj.hyid"
                ng-options="hy.id as hy.n for hy in jobclass|filter:filterPid(0)|orderBy:'s'" 
                ng-init="searchobj.hyid = jobclass[0].id">
          </select>
          
        </label>

        <label class="item item-input item-select">
          <span class="input-label">子行业选择：</span>
          <select name="hysub" id="hysub"  ng-model="searchobj.hysubid"
                ng-options="hysub.id as hysub.n for hysub in jobclass|filter:filterPid(searchobj.hyid)|orderBy:'s'" >
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">职位选择：</span>
          <select name="hyjob" id="hyjob"  ng-model="searchobj.hyjobid"
                ng-options="hyjob.id as hyjob.n for hyjob in jobclass|filter:filterPid(searchobj.hysubid)|orderBy:'s'" >
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">省份选择：</span>
          <select name="province" id="province"  ng-model="searchobj.provinceid"
                ng-options="province.id as province.n for province in cityclass|filter:filterPid(0)|orderBy:'s'" 
                ng-init="searchobj.provinceid = cityclass[0].id">
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">城市选择：</span>
          <select name="city" id="city"  ng-model="searchobj.cityid"
                ng-options="city.id as city.n for city in cityclass|filter:filterPid(searchobj.provinceid)|orderBy:'s'" >
          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">求职类型：</div>
          <select name="type" id="type"  ng-model="searchobj.type"
              ng-options="com.id as com.n for com in comclass|filter:filterPid(35)|orderBy:'s'" >
          </select>
        </label>

        <label class="item item-input item-select">
          <span class="input-label">求职待遇：</span>
          <select name="salary" id="salary"  ng-model="searchobj.salary"
                ng-options="com.id as com.n for com in comclass|filter:filterPid(34)|orderBy:'s'" >
           </select>
        </label>

    </div>
    <div>
        <label class="item item-input">
          <span class="input-label">关键词搜索：</span>
          <input ng-model="searchobj.keywords" type="text" placeholder="关键词" > 
        </label>
    </div>
    <div class="buttons" style='text-align:center; margin-top:10px'>
      <button class="button button-positive" ng-click="postSubs()"> 订个好未来 </button>
    </div>

  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="templates/newjobs.html">
<ion-view title="最新招聘">
  <ion-content class="has-header padding">
  
    <div class="list " ng-repeat="job in jobs">
        <a class="item item-icon-right" type="item-text-wrap" href="#/app/home/job/{{job.id}}">
            <div>
                <span>{{job.title}}</span>
                <span style='position:absolute;right:40px'>{{job.ctime*1000 |date : 'yyyy-MM-dd'}}</span><br />
                <span>{{job.from}}</span>
                <span style='position:absolute;right:40px'>{{job.money}}</span>
            </div>  
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="templates/news.html">
<ion-view title={{news.title}}>
  <ion-content class="has-header padding">
  
    <div class="list">
        <a class="item" type="item-text-wrap" >
            <h3 style='text-align:center; margin-top:10px'>{{news.title}}</h3>
        </a>
        <a class="item" type="item-text-wrap" >
            <h4>来源：{{news.from}}</h4>
            <h4>创建时间：{{news.ctime*1000 |date : 'yyyy-MM-dd hh:mm:ss'}}</h4>
        </a>
    </div>
    <div>{{news.body}}</div>
  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="templates/study.html">
<ion-view title="学习中心">
  <ion-content class="has-header padding">
  
    <div class="list " ng-repeat="news in newss">
        <a class="item item-icon-right" ng-if="news.pid==29" type="item-text-wrap" href="#/app/home/news/{{news.id}}">
            <h3>{{news.title}}</h3>
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
</script>

<script type="text/ng-template" id="templates/venture.html">
<ion-view title="创业中心">
  <ion-content class="has-header padding">
  
    <div class="list " ng-repeat="news in newss">
        <a class="item item-icon-right" ng-if="news.pid==30" type="item-text-wrap" href="#/app/home/news/{{news.id}}">
            <h3>{{news.title}}</h3>
            <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>
  </ion-content>
</ion-view>
</script>