<!-- <ion-view title="招聘会*{{mycity}}">
  <ion-content class="has-header padding">
  
    <div class="list ">
    	<a class="item item-icon-right" ng-repeat="jobfair in jobfairs" type="item-text-wrap" href="#/app/home/jobfairs/{{jobfair.id}}">
                <h3>{{jobfair.title}}</h3>
                <h4>{{jobfair.address}}</h4>
                <p>{{jobfair.starttime}}</p>
                <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>

  </ion-content>
</ion-view>


<script type="text/ng-template" id="templates/jobfair-detail.html">
<ion-view title="招聘会*{{jobfair.address}}">
  <ion-content class="has-header padding">
  
    <div class="list">
        <h3>{{jobfair.title}}</h3>
        <a class="item">介绍：{{jobfair.body}}</a>
        <a class="item">地址：{{jobfair.address}}</a>
        <a class="item">交通：{{jobfair.traffic}}</a>
        <a class="item">时间：{{jobfair.starttime}}</a>
        <a class="item">组织者：{{jobfair.organizers}}</a>
    </div>

  </ion-content>
</ion-view>

</script>
 -->