<ion-view title="宣讲会*{{mycity}}">
  <ion-content class="has-header padding">
  
    <div class="list ">
    	<a class="item item-icon-right" ng-repeat="preach in Preaches" type="item-text-wrap" href="#/app/home/preaches/{{preach.id}}">
                <h3>{{preach.title}}</h3>
                <h4>{{preach.address}}</h4>
                <p>{{preach.starttime}}</p>
                <i class="icon ion-ios7-arrow-right"></i>
        </a>
    </div>

  </ion-content>
</ion-view>


<script type="text/ng-template" id="templates/preach-detail.html">
<ion-view title="宣讲会*{{preach.address}}">
  <ion-content class="has-header padding">
  
    <div class="list">
        <h3>{{preach.title}}</h3>
        <a class="item">介绍：{{preach.body}}</a>
        <a class="item">地址：{{preach.address}}</a>
        <a class="item">时间：{{preach.starttime}}</a>
        <a class="item">组织者：{{preach.organizers}}</a>
    </div>

  </ion-content>
</ion-view>
</script>