<ion-view title="简历中心" >

  <!-- <div class="bar bar-header">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Header Buttons</h1>
    <button class="button">Edit</button>
  </div> -->

  <ion-content class="has-header">
    <!-- 有简历时 -->
    <!-- <ion-list ng-if='resumes.length > 0' 
    	  show-delete="shouldShowDelete"
        show-reorder="shouldShowReorder"
        can-swipe="listCanSwipe">

      <ion-item class="item-icon-right" ng-repeat="resume in resumes" type="item-text-wrap" href="#/app/resume/{{resume.id}}">
      	<ion-delete-button class="ion-minus-circled"></ion-delete-button>
        {{resume.name}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </ion-list> -->

    <!-- 没有简历时 -->
    <!-- <div ng-if='resumes.length <= 0' >
      <a class="item item-icon-left item-icon-right" href="#/app/account/baseinfo">
        <i class="icon ion-star"></i>
        您还没有设置简历，前往设置！
        <i class="icon ion-ios7-arrow-right"></i>
      </a>
    </div>

    <a class="item item-icon-left item-icon-right" href="#/app/resumes/media">
        <i class="icon ion-ios7-videocam energized"></i>
        个性化的多媒体简历
        <i class="icon ion-ios7-arrow-right"></i>
    </a> -->

    <div class="profile-info">
        <div class="user-info">
            <div class="avatar"><img ng-src="{{user.photo}}" /></div>
            <!-- <div class="label">简历已公开</div> -->
        </div>
        <div class="profile-cont profile-cont-media">
            <h2 class="title">多媒体简历</h2>
            <ul>
                <li ng-click="openModal(1)"><div class="label">图片</div><span>靓照、奖励、你有么</span>
                  <i class="icon icon-prof-image" ></i></li>
                <li ng-click="openModal(2)"><div class="label">视频简历</div><span>来做一次导演吧</span>
                  <i class="icon icon-prof-vedio" ></i></li>
                <li ng-click="openModal(3)"><div class="label">音频简历</div><span>我还是喜欢一句话自我介绍</span>
                  <i class="icon icon-prof-sound" ></i></li> 
            </ul>
        </div>

        <ion-list>
          <ion-item >
            <h2>基本信息：</h2>
            <label class="item item-input">
                <span class="input-label">姓名：</span>
                <input  type="text" ng-model="user.name"  placeholder="姓名">
            </label>
            <label class="item item-input">
                <span class="input-label">邮箱：</span>
                <input  type="text" ng-model="user.email"  placeholder="邮箱">
            </label>
            <label class="item item-input">
                <span class="input-label">手机：</span>
                <input  type="text" ng-model="user.telephone"  placeholder="手机">
            </label>
          </ion-item>

          <ion-item >
            <h2>教育信息：</h2>
            <label class="item item-input">
                <span class="input-label">学校：</span>
                <input  type="text" ng-model="bindxxinfo.xuexiao"  placeholder="学校">
            </label>
            <label class="item item-input">
                <span class="input-label">学院：</span>
                <input  type="text" ng-model="bindxxinfo.xueyuan"  placeholder="学院">
            </label>
            <label class="item item-input">
                <span class="input-label">专业：</span>
                <input  type="text" ng-model="bindxxinfo.zhuanye"  placeholder="专业">
            </label>
            <label class="item item-input">
                <span class="input-label">年级：</span>
                <input  type="text" ng-model="bindxxinfo.nianji"  placeholder="年级">
            </label>
          </ion-item> 
        </ion-list>
    </div> 
  </ion-content>
</ion-view>

<script type="text/ng-template" id="templates/resume-media.html">
<ion-modal-view>
  <ion-header-bar class="bar-light">
    <h1 class="title">多媒体简历</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeModal()"><i class="icon ion-ios7-close-outline"></i></button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header padding">

    <div style="text-align:center; margin-top:10px" ng-show="showpic">      
      <img style="width:50%; visibility:visible; display:block; margin:0 auto" id="myImage" ng-src="{{imageurl}}" />
      <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-positive" ng-click="TakePicture('1')"> 来照个相吧 </button>
          <button class="button button-positive" ng-click="TakePicture('2')"> 从相册中选取 </button> 
      </div>
      <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-energized" ng-click="uploadPicture();"> 上传 </button> 
      </div>
    </div>


    <div style="text-align:center; margin-top:10px" ng-show="showvideo">   
      <video webkit-playsinline style="width:50%; visibility:visible; display:block;margin:0 auto" id="myVideo"  controls>
        <source ng-src="{{videourl}}" type="video/3gpp">
        你的系统不支持video标签
      </video>
      <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-positive" ng-click="MediaCapture(3)"> 录像 </button>
          <button class="button button-energized" ng-click="MediaUpload(3)"> 上传 </button>
      </div>
    </div>  

    <div style="text-align:center; margin-top:10px" ng-show="showaudio">
      <audio style="width:50%; visibility:visible; display:block; margin:0 auto" id="myAudio"  controls>
        <source ng-src="{{audiourl}}" type="audio/ogg">
        您的系统不支持audio标签
      </audio>   
      <div class="buttons" style='text-align:center; margin-top:10px'>
          <button class="button button-positive" ng-click="MediaCapture(1)"> 录音 </button>
          <button class="button button-energized" ng-click="MediaUpload(1)"> 上传 </button>
      </div>
    </div>  

  </ion-content>
</ion-modal-view>
</script>

