<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top ">


  <!-- Pets Tab -->
  <ion-tab title="首页" icon="icon ion-home balanced" href="#/app/home">
    <ion-nav-view name="app-home"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="简历中心" icon="icon ion-heart energized" href="#/app/resumes">
    <ion-nav-view name="app-resumes"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="我的" icon="icon ion-person positive" href="#/app/account">
    <ion-nav-view name="app-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="关于" icon="icon ion-gear-b calm" href="#/app/about">
    <ion-nav-view name="app-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
