<?xml version='1.0' encoding='utf-8'?>
<widget id="net.haoqiantu.app"
        version="0.0.034"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0">
		
    <name>好前途</name>
    <description>
        好前途就业网，专职于校园招聘。
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      好前途
    </author>
	
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
	<preference name="SplashScreenDelay" value="2000" />
	<preference name="auto-hide-splash-screen"    value="true" />
	<preference name="show-splash-screen-spinner" value="true" /> 
<!-- 	
	<icon src="res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/icon/ios/icon-57-2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/icon/ios/icon-72-2x.png" gap:platform="ios" width="144" height="144" />
	
	<icon src="res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="res/icon/android/icon-144-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	
	<gap:splash src="res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />
	
	<gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="xhdpi" />
	 -->
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
	<!-- <preference name="Orientation" value="portrait" /> -->

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

	<preference name="phonegap-version" value="3.5.0" />
	<preference name="deployment-target" value="6.0" />
	<preference name="android-minSdkVersion" value="14" />
	
	<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.file" version="1.0.1" />
	<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
	<gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
	<gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
	<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
	
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
	
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
